section#profile-main-par {
    background-color: #f5f7fa;
}.info-par {
    background-color: #fff;
    padding: 30px 30px 20px 40px;
    width: 90%;
    margin: 0 auto;
}.col-lg-6.info-col h5 {
    font-weight: 600;
}p.grey-p-cus {
    color: #787878;
}.info-par .row {
    margin-bottom: 16px;
}.last-sec h5{
    font-weight: 600;;
}.row.last-sec p {
    padding-left: 17px;
}.d-flex {
    display: flex!important;
    margin-top: 10px;
}
.justify-content-center {
    justify-content: center!important;
}
.end-form {
    gap: 20px;
}.end-form .btn-wrap a, .end-form .btn-wrap button {
    background-color: transparent;
    text-decoration: none;
    color: #3366cc;
    height: 42px;
    border: 2px solid #3366cc;
    display: block;
    border-radius: 3px;
    text-align: center;
    line-height: 39px;
    font-weight: 600;
    margin-bottom: 25px;
    min-width: 190px;
}.end-form .filled-btn a, .end-form .filled-btn button {
    background-color: #3366cc;
    text-decoration: none;
    color: #fff;
}